In [1]:
#import fixerio
#from fixerio import Fixerio
from datetime import date, timedelta
import pandas as pd
import numpy as np

In [14]:
fxrio = Fixerio(access_key = '9befb24d8c3e96f66b2e3229c817af99')

In [15]:
# the original fixerio from pypy did not use access key and
# had an outdated 
# I fixed the client script
# it is also in the repository...
fixerio.__file__

'/home/alexander/miniconda3/lib/python3.7/site-packages/fixerio/__init__.py'

In [2]:
# the task is to: load all exchanges rates from 01.01.2018 
# to now into a database
# we will make multiple historical queries to the api
# we have 1000 in the free plan and we need 501 queries
# also we have only one base currency available (EUR)
day1 = date(year=2018,month=1,day=1)
day2 = date(year=2019,month=5,day=16)

delta = day2 - day1 # timedelta

dates = []
for i in range(delta.days + 1):
    dates.append(day1 + timedelta(i))
    
print('We need to make {:.0f} queries'.format(len(dates)))

We need to make 501 queries

In [32]:
# let's get the first 20 and save them in an adequate format
# and never query those again
#rates = []
#dates20 = dates[0:20]

#for d in dates20:
#    rates.append(fxrio.historical_rates(d,base='EUR'))

In [39]:
# put into dictionary
#rates_dict = {}
#for i,d in enumerate(dates20):
#    rates_dict[str(d)] = rates[i]

In [61]:
# now put in a data frame
# I suggest a table (pandas data frame) 
# with rows being dates
# variables are success, timestamp,
# and each currency is one variable
# let's get the names of the variables first
variables_1 = list(rates_dict['2018-01-01'].keys())[:-1]
#variables_1
variables_2 = list(rates_dict['2018-01-01']['rates'].keys())
variables = variables_1 + variables_2
print(variables)

['success', 'timestamp', 'historical', 'base', 'date', 'AED', 'AFN', 'ALL', 'AMD', 'ANG', 'AOA', 'ARS', 'AUD', 'AWG', 'AZN', 'BAM', 'BBD', 'BDT', 'BGN', 'BHD', 'BIF', 'BMD', 'BND', 'BOB', 'BRL', 'BSD', 'BTC', 'BTN', 'BWP', 'BYN', 'BYR', 'BZD', 'CAD', 'CDF', 'CHF', 'CLF', 'CLP', 'CNY', 'COP', 'CRC', 'CUC', 'CUP', 'CVE', 'CZK', 'DJF', 'DKK', 'DOP', 'DZD', 'EGP', 'ERN', 'ETB', 'EUR', 'FJD', 'FKP', 'GBP', 'GEL', 'GGP', 'GHS', 'GIP', 'GMD', 'GNF', 'GTQ', 'GYD', 'HKD', 'HNL', 'HRK', 'HTG', 'HUF', 'IDR', 'ILS', 'IMP', 'INR', 'IQD', 'IRR', 'ISK', 'JEP', 'JMD', 'JOD', 'JPY', 'KES', 'KGS', 'KHR', 'KMF', 'KPW', 'KRW', 'KWD', 'KYD', 'KZT', 'LAK', 'LBP', 'LKR', 'LRD', 'LSL', 'LTL', 'LVL', 'LYD', 'MAD', 'MDL', 'MGA', 'MKD', 'MMK', 'MNT', 'MOP', 'MRO', 'MUR', 'MVR', 'MWK', 'MXN', 'MYR', 'MZN', 'NAD', 'NGN', 'NIO', 'NOK', 'NPR', 'NZD', 'OMR', 'PAB', 'PEN', 'PGK', 'PHP', 'PKR', 'PLN', 'PYG', 'QAR', 'RON', 'RSD', 'RUB', 'RWF', 'SAR', 'SBD', 'SCR', 'SDG', 'SEK', 'SGD', 'SHP', 'SLL', 'SOS', 'SRD', 'STD', 'SVC', 'SYP', 'SZL', 'THB', 'TJS', 'TMT', 'TND', 'TOP', 'TRY', 'TTD', 'TWD', 'TZS', 'UAH', 'UGX', 'USD', 'UYU', 'UZS', 'VEF', 'VND', 'VUV', 'WST', 'XAF', 'XAG', 'XAU', 'XCD', 'XDR', 'XOF', 'XPF', 'YER', 'ZAR', 'ZMK', 'ZMW', 'ZWL']

In [77]:
rates_data = {}

for v in variables_1:
    x = []
    for d in dates20:
        x.append(rates_dict[str(d)][v])
    rates_data[v] = x
    
for v in variables_2:
    x = []
    for d in dates20:
        x.append(rates_dict[str(d)]['rates'][v])
    rates_data[v] = x
    
    
rates_data = pd.DataFrame(rates_data)
rates_data.to_csv('rates_first_20_days.csv')
rates_data

,success,timestamp,historical,base,date,AED,AFN,ALL,AMD,ANG,...,XAU,XCD,XDR,XOF,XPF,YER,ZAR,ZMK,ZMW,ZWL
0,True,1514851199,True,EUR,2018-01-01,4.412975,83.395841,132.765995,581.043468,2.138499,...,0.000919,3.250891,0.843668,678.833208,119.261695,300.313919,14.886657,10814.903030,11.979648,387.308253
1,True,1514937599,True,EUR,2018-01-02,4.432021,83.854480,132.859093,583.566387,2.147927,...,0.000914,3.233631,0.844963,675.590291,119.366816,301.617897,15.003079,10861.858960,12.102800,388.989965
2,True,1515023999,True,EUR,2018-01-03,4.412236,83.501151,132.765008,581.041565,2.138437,...,0.000916,3.246223,0.842379,676.464081,119.263722,300.252857,14.846833,10814.902798,12.051223,387.306984
3,True,1515110399,True,EUR,2018-01-04,4.433811,84.028088,133.044473,583.850361,2.149437,...,0.000914,3.246777,0.845570,676.365741,119.294507,301.764670,14.838076,10867.144524,12.169518,389.179254
4,True,1515196799,True,EUR,2018-01-05,4.419187,83.731984,132.835347,581.876570,2.142214,...,0.000912,3.253030,0.843112,673.634003,119.660538,300.443705,14.784314,10830.416473,11.984495,387.863577
5,True,1515283199,True,EUR,2018-01-06,4.418725,83.731984,132.835347,581.876570,2.142214,...,0.000912,3.253030,0.843112,673.634003,119.660538,300.443705,14.784314,10830.416473,11.984495,387.863577
6,True,1515369599,True,EUR,2018-01-07,4.422018,83.792664,132.931611,582.298250,2.143912,...,0.000913,3.253838,0.843723,674.122178,119.366326,300.962456,14.809476,10838.269797,11.993025,388.144657
7,True,1515455999,True,EUR,2018-01-08,4.397173,83.309682,132.902931,580.018791,2.131050,...,0.000908,3.231844,0.840689,676.475064,119.297600,299.270683,14.827281,10777.337025,11.973594,385.962815
8,True,1515542399,True,EUR,2018-01-09,4.382398,83.292381,133.172338,578.046718,2.123445,...,0.000910,3.218783,0.839406,674.202858,119.219049,298.265466,14.727004,10741.137284,11.730223,384.666408
9,True,1515628799,True,EUR,2018-01-10,4.392374,83.437069,133.162073,579.108740,2.129084,...,0.000907,3.227465,0.838413,673.883459,119.353139,298.912081,14.866320,10764.419381,11.695898,385.500334
10,True,1515715199,True,EUR,2018-01-11,4.424109,84.003735,132.919591,582.762377,2.143850,...,0.000911,3.253446,0.846504,678.733778,119.366222,301.071608,14.897837,10842.188059,11.744090,388.285428
11,True,1515801599,True,EUR,2018-01-12,4.482834,85.108817,133.711039,589.536910,2.173067,...,0.000912,3.299881,0.851772,687.783203,119.955903,305.075973,15.110145,10986.401184,11.998430,393.449769
12,True,1515887999,True,EUR,2018-01-13,4.482834,85.108817,133.711039,589.536910,2.173067,...,0.000912,3.299881,0.851772,687.783203,119.955903,305.075973,15.110145,10986.401184,11.998430,393.449769
13,True,1515974399,True,EUR,2018-01-14,4.479697,85.047162,133.614176,589.109838,2.170414,...,0.000912,3.269574,0.851155,655.349777,119.197663,304.854970,15.085900,10978.433103,11.989475,393.164747
14,True,1516060799,True,EUR,2018-01-15,4.507170,84.942726,133.746134,592.353393,2.183758,...,0.000915,3.319924,0.856373,655.759805,119.307598,306.662618,15.081326,11045.740078,12.001429,395.575166
15,True,1516147199,True,EUR,2018-01-16,4.507436,84.964046,133.423741,592.256601,2.185070,...,0.000915,3.310376,0.853196,653.579924,119.386615,306.800963,15.038960,11048.519053,11.967817,395.674451
16,True,1516233599,True,EUR,2018-01-17,4.475694,84.485384,133.028900,588.044996,2.168987,...,0.000917,3.315146,0.847213,648.959167,119.290908,304.631905,14.998563,10970.410400,11.883458,392.877065
17,True,1516319999,True,EUR,2018-01-18,4.495235,84.886210,133.480053,590.213162,2.179563,...,0.000922,3.302458,0.849674,652.405496,119.254452,305.884123,14.840577,11017.705318,11.971374,394.570957
18,True,1516406399,True,EUR,2018-01-19,4.490507,84.765441,133.267907,588.650904,2.176787,...,0.000918,3.305530,0.847416,650.369644,119.700585,305.598169,14.889403,11005.206520,11.921157,394.123234
19,True,1516492799,True,EUR,2018-01-20,4.490507,84.765441,133.267907,588.650904,2.176787,...,0.000918,3.305530,0.847416,650.369644,119.700585,305.598169,14.889403,11005.206520,11.921157,394.123234

In [3]:
# alternatively we read the data from
# the source
rates_data = pd.read_csv('rates_first_20_days.csv')
rates_data

,Unnamed: 0,success,timestamp,historical,base,date,AED,AFN,ALL,AMD,...,XAU,XCD,XDR,XOF,XPF,YER,ZAR,ZMK,ZMW,ZWL
0,0,True,1514851199,True,EUR,2018-01-01,4.412975,83.395841,132.765995,581.043468,...,0.000919,3.250891,0.843668,678.833208,119.261695,300.313919,14.886657,10814.903030,11.979648,387.308253
1,1,True,1514937599,True,EUR,2018-01-02,4.432021,83.854480,132.859093,583.566387,...,0.000914,3.233631,0.844963,675.590291,119.366816,301.617897,15.003079,10861.858960,12.102800,388.989965
2,2,True,1515023999,True,EUR,2018-01-03,4.412236,83.501151,132.765008,581.041565,...,0.000916,3.246223,0.842379,676.464081,119.263722,300.252857,14.846833,10814.902798,12.051223,387.306984
3,3,True,1515110399,True,EUR,2018-01-04,4.433811,84.028088,133.044473,583.850361,...,0.000914,3.246777,0.845570,676.365741,119.294507,301.764670,14.838076,10867.144524,12.169518,389.179254
4,4,True,1515196799,True,EUR,2018-01-05,4.419187,83.731984,132.835347,581.876570,...,0.000912,3.253030,0.843112,673.634003,119.660538,300.443705,14.784314,10830.416473,11.984495,387.863577
5,5,True,1515283199,True,EUR,2018-01-06,4.418725,83.731984,132.835347,581.876570,...,0.000912,3.253030,0.843112,673.634003,119.660538,300.443705,14.784314,10830.416473,11.984495,387.863577
6,6,True,1515369599,True,EUR,2018-01-07,4.422018,83.792664,132.931611,582.298250,...,0.000913,3.253838,0.843723,674.122178,119.366326,300.962456,14.809476,10838.269797,11.993025,388.144657
7,7,True,1515455999,True,EUR,2018-01-08,4.397173,83.309682,132.902931,580.018791,...,0.000908,3.231844,0.840689,676.475064,119.297600,299.270683,14.827281,10777.337025,11.973594,385.962815
8,8,True,1515542399,True,EUR,2018-01-09,4.382398,83.292381,133.172338,578.046718,...,0.000910,3.218783,0.839406,674.202858,119.219049,298.265466,14.727004,10741.137284,11.730223,384.666408
9,9,True,1515628799,True,EUR,2018-01-10,4.392374,83.437069,133.162073,579.108740,...,0.000907,3.227465,0.838413,673.883459,119.353139,298.912081,14.866320,10764.419381,11.695898,385.500334
10,10,True,1515715199,True,EUR,2018-01-11,4.424109,84.003735,132.919591,582.762377,...,0.000911,3.253446,0.846504,678.733778,119.366222,301.071608,14.897837,10842.188059,11.744090,388.285428
11,11,True,1515801599,True,EUR,2018-01-12,4.482834,85.108817,133.711039,589.536910,...,0.000912,3.299881,0.851772,687.783203,119.955903,305.075973,15.110145,10986.401184,11.998430,393.449769
12,12,True,1515887999,True,EUR,2018-01-13,4.482834,85.108817,133.711039,589.536910,...,0.000912,3.299881,0.851772,687.783203,119.955903,305.075973,15.110145,10986.401184,11.998430,393.449769
13,13,True,1515974399,True,EUR,2018-01-14,4.479697,85.047162,133.614176,589.109838,...,0.000912,3.269574,0.851155,655.349777,119.197663,304.854970,15.085900,10978.433103,11.989475,393.164747
14,14,True,1516060799,True,EUR,2018-01-15,4.507170,84.942726,133.746134,592.353393,...,0.000915,3.319924,0.856373,655.759805,119.307598,306.662618,15.081326,11045.740078,12.001429,395.575166
15,15,True,1516147199,True,EUR,2018-01-16,4.507436,84.964046,133.423741,592.256601,...,0.000915,3.310376,0.853196,653.579924,119.386615,306.800963,15.038960,11048.519053,11.967817,395.674451
16,16,True,1516233599,True,EUR,2018-01-17,4.475694,84.485384,133.028900,588.044996,...,0.000917,3.315146,0.847213,648.959167,119.290908,304.631905,14.998563,10970.410400,11.883458,392.877065
17,17,True,1516319999,True,EUR,2018-01-18,4.495235,84.886210,133.480053,590.213162,...,0.000922,3.302458,0.849674,652.405496,119.254452,305.884123,14.840577,11017.705318,11.971374,394.570957
18,18,True,1516406399,True,EUR,2018-01-19,4.490507,84.765441,133.267907,588.650904,...,0.000918,3.305530,0.847416,650.369644,119.700585,305.598169,14.889403,11005.206520,11.921157,394.123234
19,19,True,1516492799,True,EUR,2018-01-20,4.490507,84.765441,133.267907,588.650904,...,0.000918,3.305530,0.847416,650.369644,119.700585,305.598169,14.889403,11005.206520,11.921157,394.123234

In [13]:
rates_data['USD'][4]

1.203219

In [4]:
# now create database
import sqlite3
connection = sqlite3.connect("conversion_rates.db")

In [74]:
# put it into the database
rates_data.to_sql(con=connection,name='conversion_rates')

In [18]:
# query the database
connection = sqlite3.connect("conversion_rates.db")

cursor = connection.cursor()

def convert_price(from_currency,date_query,con,price=1,to_currency='USD'):
    '''
    con: database to query
    date_query: string of date in format YYYY-MM-DD
    from_currency: ...
    
    it will print the SQL command
    '''
    
    # get the right date's data
    base_command = 'SELECT ' + to_currency + ' FROM conversion_rates '
    get_date_command = base_command + 'WHERE date = \'' + date_query + '\''
    print(get_date_command)
    cursor.execute(get_date_command) 
    print("fetchall:")
    result = cursor.fetchall() 
    for r in result:
        print(r)
    #cursor.execute("SELECT * FROM conversion_rates") 
    #print("\nfetch one:")
    #res = cursor.fetchone() 
    #print(res)
convert_price(from_currency='EUR',date_query='2018-01-01',con=connection,price=1,to_currency='USD')

SELECT USD FROM conversion_rates WHERE date = '2018-01-01'
fetchall:
(1.201496,)